body{
  /* font-family: "Courier"; */
  /* font-family: 'Trebuchet MS', 'Verdana'; Default */
  font-family: 'Rubik', 'Roboto Slab', 'Verdana', 'Trebuchet MS';
  overflow-x: hidden;
  /* background-color: #eeeeee; */
}

.zoomGraph{
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  /* background-color: #ffffff; */
} 

.footer-text{
  font-size: small !important;
  color: rgba(0,0,0,0.6);
}

.unstyled-link{
  color: rgba(0,0,0,0.6);
  text-decoration: underline !important;
}

.welcomeText{
  font-family: 'Rubik', 'Courier New';
  float: left;
}

.dropdown{
  margin-top: 1.5rem !important;
}

.searchBtn{
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}


@media (max-width: 980px){
  .round-sm{
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
  }
}