{% extends 'GeneralPage.html' %}
{%block body%}
    <body class="">
        <div class="row">
            <div class="col-12 col-md-8">
                <p class="h1 welcomeText m-3">Welcome to Smaartrader</p>
                <div class="dropdown d-none d-md-block">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedCategory}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {%for category in otherCategories%}
                            <a class="dropdown-item category-item" href="#" onclick="changeCategory(this.innerHTML)">{{category}}</a>
                        {%endfor%}
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-2">
                <div class="alert alert-warning mt-4 mr-4 ml-4 mr-md-0 ml-md-0 d-none" id="searchAlert" role="alert">
                    <span id="alertContent"></span>
                </div>
            </div>


            <div class="col-12 col-md-2 pr-0 pr-md-3">
                <div class="input-group pr-2 pl-2 pt-4" id="searchForm">

                    <div class="input-group-prepend">
                        <div class="d-md-none pr-1">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{selectedCategory}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {%for category in otherCategories%}
                                    <a class="dropdown-item category-item" href="#" onclick="changeCategory(this.innerHTML)">{{category}}</a>
                                {%endfor%}
                            </div>
                        </div>
                        <button class="btn btn-outline-dark searchBtn" type="button" id="searchBtn" onclick="searchStock()">Search</button>
                    </div>
                    <input autocomplete="off" form = "searchForm" type="text" class="form-control" placeholder="" id="stockFormName">
                </form>
            </div>

        </div>
        {%block start_script%}{%endblock%}
        <div class="row m-2">
            <!-- Repeates for every stock -->
            {% if stocks %}
                {% for stock in stocks %}
                    <div class="col-md-6 col-xl-4 p-3 col-sm-12">
                        <div class = "p-3 zoomGraph mb-0" style="border: 1px solid black;">
                            <div class="row">
                                <div class="pr-0 col-4" onclick="window.location='/stock/{{stock}}'" style="cursor:pointer;" data-toggle="tooltip" title="{{stock}}">
                                    <p style="white-space: nowrap;"><span>{{stocknames[loop.index0]}}</span> <span id="{{stock}}DiffArrow"></span></p>
                                </div>

                                <div class="col-2">
                                    <span id="{{stock}}Price"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}percent"></span>
                                </div>

                                <div class="col-4 text-right" style="color:rgba(50,50,50,1); white-space: nowrap;">
                                    <div class="btn-group" data="{{stock}}">
                                        <div class="btn btn-primary" onclick="selectTime{{loop.index0}}(this)">Y</div>
                                        <div class="btn btn-secondary" onclick="selectTime{{loop.index0}}(this)">M</div>
                                        <div class="btn btn-secondary d-none d-lg-block" onclick="selectTime{{loop.index0}}(this)">W</div>
                                        <div class="btn btn-secondary" onclick="selectTime{{loop.index0}}(this)">D</div>
                                    </div>
                                    
                                </div> 
                            </div>
                            <div class="row justify-content-center d-none">
                                <div class="col-2">
                                    <span id="{{stock}}Price"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}Diff"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}percent"></span>
                                </div>
                               
                                <div class="col-3 col-md-4 mr-3">
                                    <p>{{stocknames[loop.index0]}}</p>
                                </div>
                            </div>
                            <div class="row p-1 mb-0">
                                <canvas id="{{stock}}-chart" width="400" height="400"></canvas>
                                {%block per_stock_script scoped%}{%endblock%}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {%block after_script%}{%endblock%}
            <p class="ml-4 footer-text">Created by <a class="unstyled-link" href="http://dvir.herokuapp.com">Dvir Akerman</a> and <span class="unstyled-link">Shilo Daum</span></p>
        </div>


        <script>
            //Simulate a form in the search break
            var input = document.getElementById("stockFormName");

            input.addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("searchBtn").click();
                }
            });

            function flashAlert(text, flashTime){
                document.getElementById("alertContent").innerHTML = text;
                document.getElementById("searchAlert").classList.remove("d-none");
                setTimeout(function(){
                   document.getElementById("searchAlert").classList.add("d-none"); 
                }, flashTime*1000)
            }
            function searchStock(){
                stockName = document.getElementById("stockFormName").value.toUpperCase();
                $.post("/searchStock", {"searchStock": stockName}, function(data, success){
                    switch (data["type"]){
                        case "link":
                            window.location = data["data"]
                            break;
                        case "alert":
                            flashAlert(data["data"], 3)
                            break;
                    }
                    document.getElementById("stockFormName").value = "";
                });
            }

            //Make search field always uppercase
            var searchBar = document.getElementById("stockFormName")

            searchBar.addEventListener("input", function(){
                searchBar.value = searchBar.value.toUpperCase();
            });

            function changeCategory(categoryName){
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString)

                if (urlParams.has("category")){
                    urlParams.set("category", categoryName)
                } else {
                    urlParams.append("category", categoryName)
                }

                window.location.search = urlParams.toString();
            }
        </script>
    </body>
{%endblock%}
