{% extends 'GeneralPage.html' %}
{%block title%}
{{stock}} Information
{% endblock %}
{%block body%}
    <body class="container-fluid pt-3">
        <div class="row d-flex justify-content-center main-row">
            <div class="col-lg-4 p-3 col-12 d-block">
                <div class ="container p-3 zoomGraph" style="border: 1px solid black;">
                    <div class="row">
                        <div class="pr-0 col-3">
                            <p style="white-space: nowrap;"><span>{{stock}}</span> <span id="{{stock}}DiffArrow"></span></p>
                        </div>

                        <div class="col-9 text-right" style="color:rgba(50,50,50,1)">
                            <p class="name-text">{{name}}</p>
                        </div>
                    </div>
                    <div class="row info-row">
                        <div class="col-2">
                            <span id="{{stock}}Price"></span>
                        </div>
                        <div class="col-2">
                            <span id="{{stock}}Diff"></span>
                        </div>
                        <div class="col-2">
                            <span id="{{stock}}percent"></span>
                        </div>
                        
                        <div class="col-3 mr-0 pr-0 col-md-4">
                            <div class="btn-group" data="{{stock}}">
                                <div class="btn btn-secondary d-none d-lg-block" onclick="elementSelectTime(this)">A</div>
                                <div class="btn btn-primary round-sm" onclick="elementSelectTime(this, true)">Y</div>
                                <div class="btn btn-secondary" onclick="elementSelectTime(this)">M</div>
                                <div class="btn btn-secondary d-none d-xl-block" onclick="elementSelectTime(this)">W</div>
                                <div class="btn btn-secondary" onclick="elementSelectTime(this)">D</div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-12">
                            <canvas id="chart" width="400" height="400"></canvas>
                            <script>
                                var graphInfo = [];
                                var analysisGraphs = [];

                                //Loads the indicator graphs
                                function loadGraphs(){

                                    const colors = ["rgba(0,40,240,1)", "rgba(240,40,0,1)"]
                                    let cindex = 0;

                                    {%for graph in graphs%}

                                        let {{graph[0]}}Points = {{graph.1}};
                                        
                                        //Create a delay so that the graphs start at the correct date
                                        for (let i = 0; i < {{graph.2|float}}; i++){
                                            // Add a string to the data array, so that the point would not view
                                            {{graph.0}}Points.unshift('EmptyVal');
                                        }

                                        //Generate the data format for the graph
                                        const {{graph[0]}}graphData = {
                                            label: '{{graph[0]}}',
                                            data: {{graph.0}}Points,
                                            borderColor: 'rgba(0,0,0,0)',
                                            backgroundColor:'rgba(0,0,0,0)',
                                            borderWidth: 1,
                                            pointRadius: 0.75
                                        }

                                        mainChart.data.datasets.push({{graph.0}}graphData)
                                        analysisGraphs.push({{graph[0]}}Points)

                                        graphInfo.push({
                                            color: colors[cindex]
                                        })

                                        //create the correct ticker box
                                        cindex++;

                                    {% endfor %}

                                    mainChart.update();
                                }

                                var BorderColor = "";
                                var BackColor = "";
                                var mainChart;
                                var ctx;
                                
                                //make an HTTP post request to the server, asking for the candle and quote data
                                $.post("/api", {"type":"quote+candle", "name":"{{stock}}", "time": "Y", "isMulti":false, "quality": "{{quality}}"}, function(stockData, succsses){
                                    let stockPrice = stockData["current_price"].toString().slice(0,-1);
                                    document.getElementById("{{stock}}Price").innerHTML = stockPrice + "$  "
    
                                    let stockpercent = stockData["difference_percentage"].toString().slice(0,-1);
    
                                    let stockDiff = stockData["difference"].toString().slice(0,-1);
                                    //▲, ▼
                                    if (parseFloat(stockDiff) > 0){
                                        document.getElementById("{{stock}}percent").innerHTML = "  +" + stockpercent + "%"
                                        document.getElementById("{{stock}}DiffArrow").innerHTML = "▲"
                                        document.getElementById("{{stock}}DiffArrow").style = "color: green"
                                        document.getElementById("{{stock}}Diff").innerHTML = "  +" + stockDiff + "$"
                                    } else {
                                        document.getElementById("{{stock}}percent").innerHTML = "  "+ stockpercent + "%"
                                        document.getElementById("{{stock}}DiffArrow").innerHTML = "▼"
                                        document.getElementById("{{stock}}DiffArrow").style = "color: red"
                                        document.getElementById("{{stock}}Diff").innerHTML = "  " + stockDiff + "$"
                                    }
                                    
    
                                    //Change the graph colors based on the diff from the quote
                                    if (parseFloat(stockDiff) > 0){
                                        BorderColor = 'rgba(21, 255, 132, 1)';
                                        BackColor = 'rgba(21, 255, 132, 0.2)';
                                    } else {
                                        BorderColor = 'rgba(255, 99, 132, 1)';
                                        BackColor = 'rgba(255, 99, 132, 0.2)';
                                    }
                                    
                                    //Init the stock chart 
                                    ctx = document.getElementById('chart').getContext('2d');
                                    mainChart = startChart(ctx, stockData["prices"], stockData["dates"], BackColor, BorderColor);
                                    
                                    //load the new charts
                                    loadGraphs();
                                });
                                
                                //A function that passes the jinja information to a normal javascript function
                                function elementSelectTime(btn, isMain=false){
                                    selectTime(btn, mainChart, ctx, BackColor, BorderColor, isMain);

                                    if (!isMain){
                                        setCheckboxs(false)
                                    } else{
                                        setCheckboxs(true)
                                    }
                                }

                                //Function that make the analysis graphs appear or disappear when needed
                                function updateGraph(index, isVisible){
                                    let color = "";
                                    if (!isVisible){
                                        color = 'rgba(0,0,0,0)'
                                    } else {
                                        color = graphInfo[index].color
                                    }
                                    
                                    //+1 because the first one is the main price graph
                                    mainChart.data.datasets[index+1].borderColor = color;
                                    mainChart.update();
                                }

                                //Function that controls the analysis graph checkboxs (disables them and updates the graph)
                                function setCheckboxs(mode){
                                    let checkboxs = document.getElementsByClassName("graphCheckBox");
                                    let index = 0;

                                    for (checkbox of checkboxs){
                                        if (mode){
                                            updateGraph(index, checkbox.checked)
                                        } else {
                                            updateGraph(index, false)
                                        }
                                        checkbox.disabled = !mode;
                                        index++;
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 p-3 justify-content-center ">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link accordion-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Wikipedia Article
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse wiki-collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body p-0">
                                <div class="embed-responsive side-info">
                                    <iframe class="embed-responsive-item" src="{{wikiarticle}}"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link accordion-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Analysis
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body side-info">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <p class="h5">Analysis Graphs:</p><br/>
                                        <ul class = "pl-0" id="graphList" style="list-style-type: none;">
                                            {%for graph in graphs%}
                                                <span class="h5">{{graph.0}}</span>
                                                <input class="graphCheckBox " type="checkbox" onchange="updateGraph({{loop.index0}}, this.checked)"></input>
                                                <span> </span>
                                            {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <table>
                                            {% for indicator in indicators%}
                                            <tr>
                                                <td><p class="h5 mr-3">{{indicator.0}}</td>
                                                <td>
                                                    {%if indicator.2%}
                                                        <p class="h5" style="color:green">{{indicator.1}}</p>
                                                    {%else%}
                                                        <p class="h5" style="color:red">{{indicator.1}}</p>   
                                                    {%endif%}
                                                </td>
                                            </tr>
                                            {%endfor%}
                                        </table> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </body>
    <script>
        function selectTime(btn, Chart, ctx, BackColor, BorderColor, isMain){
            //get all the buttons in that button group
            otherBtns = btn.parentElement.childNodes
            for (var i = 0; i < otherBtns.length; i++){
                //make sure that they are buttons
                if (otherBtns[i].nodeName == "DIV"){
                    //unselect them all
                    otherBtns[i].classList.remove("btn-primary", "btn-secondary");
                    otherBtns[i].classList.add("btn-secondary")
                }
            }

            //select the clicked button
            btn.classList.remove("btn-secondary");
            btn.classList.add("btn-primary");

            //get the new info and update the chart with it
            $.post("/api", {"type":"candle", "name":btn.parentElement.getAttribute("data"), "time": btn.innerHTML, "quality": "{{quality}}"}, function(stockData, succsses){
                updateChart(Chart, stockData["prices"], stockData["dates"], isMain);
            });
        }

        function startChart(ctx, yAxisData, xAxisData, BackColor, BorderColor){
            return new Chart(ctx, {
                type: 'line',
                data: {
                    labels: xAxisData,
                    datasets: [{
                        label: 'Price',
                        data: yAxisData,
                        backgroundColor: [
                            BackColor
                        ],
                        borderColor: [
                            BorderColor
                        ],
                        borderWidth: 1,
                        pointRadius: 2.4
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    //this makes the gridlines not display
                    scales: {
                        xAxes: [{
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)"
                            },
                            ticks: {
                                display: false
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                color: "rgba(0, 0, 0, 0)"
                            }
                        }]
                    }
                }
            });
        }
        
        function updateChart(chart, yAxisData, xAxisData, isMain){
            Chart.defaults.global.animation.duration = 0;
            chart.data.labels = xAxisData

            //Update the first graph
            var index = 0;
            chart.data.datasets.forEach((dataset) => {
                if (index == 0 || !isMain){
                    dataset.data = yAxisData;
                } else {
                    console.log("setAnalysisGraph " + index)
                    dataset.data = analysisGraphs[index-1]
                }
                index++;
            });
            chart.update();  
        }

        //Staticaly set the hight of the wikipedia window 
        $(document).ready(function() {
            $(".side-info").css("height", $(".main-row").height());
            $(".wiki-collapse").css("height", $(".main-row").height());
        });

        //Prevent the user from collapsing all accordion windows
        Array.from(document.getElementsByClassName("accordion-link")).forEach(
            (elem) => {
                elem.addEventListener("click", function (event){
                    let target = elem.getAttribute("data-target");
                    const targetID = target.substring(1, target.length);

                    //If the target element is shown, prevent the action
                    if (document.getElementById(targetID).classList.contains("show")){
                        event.stopPropagation();
                    }
                });
            }
        )
    </script>
{% endblock %}