{% extends 'GeneralPage.html' %}
{%block body%}
    <body>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="h1 m-3" style="font-family: 'Courier New';">Welcome to Smaartrader</p>
            </div>
            <div class="col-md-4 col-0"></div>
            <div class="col-12 col-md-2">
                <form action="/searchStock" method="post" class="input-group pr-4 pl-4 pt-4" id="searchForm">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-dark" type="submit" onclick="searchStock()">Search</button>
                    </div>
                    <input autocomplete="off" form = "searchForm" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="stockFormName">
                </form>
            </div>
        </div>
        {%block start_script%}{%endblock%}
        <div class="row m-2">
            <!-- Repeates for every stock -->
            {% if stocks %}
                {% for stock in stocks %}
                    <div class="col-md-6 col-lg-4 p-3 col-sm-12">
                        <div class = "p-3 zoomGraph" style="border: 1px solid black;">
                            <div class="row">
                                <!-- d-flex justify-content-center justify-content-md-left pb-3 pb-md-0 mb-3 mb-md-0 nametag -->
                                <div class="pr-0 col-12 col-md-2 col-lg-12">
                                    <p style="white-space: nowrap;"><span>{{stock}}</span> <span id="{{stock}}DiffArrow"></span></p>
                                </div>

                                <div class="col-xs-1 col-2 d-block d-md-none d-lg-block">
                                    <!--Filler Div-->
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}Price"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}Diff"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}percent"></span>
                                </div>
                               
                                <div class="col-3 mr-0 pr-0 col-md-4 pl-3">
                                    <div class="btn-group" data="{{stock}}">
                                        <div class="btn btn-primary" onclick="{{stock}}selectTime(this)">Y</div>
                                        <div class="btn btn-secondary" onclick="{{stock}}selectTime(this)">M</div>
                                        <div class="btn btn-secondary d-none d-lg-block" onclick="{{stock}}selectTime(this)">W</div>
                                        <div class="btn btn-secondary" onclick="{{stock}}selectTime(this)">D</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-1">
                                <canvas id="{{stock}}-chart" width="400" height="400"></canvas>
                                {%block per_stock_script scoped%}{%endblock%}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {%block after_script%}{%endblock%}
        </div>
        <script>
            function searchStock(stockName){
                document.getElementsByName("stockFormName").value = "";
            }
        </script>
    </body>
{%endblock%}
