<!doctype html>
<html lang="en" style="width:100% !important;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

        <style>
            body{
                font-family: "Courier New";
                overflow-x: hidden;
            }

            .zoomGraph{
                transform: scale(1);
                transition: all 0.5s ease-in-out;
            } 
            
            /*
            .zoomGraph:hover{
                transform: scale(1.02);
                transition: all 0.5s ease-in-out;
            }
            */
        </style>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Homepage</title>
    </head>
    <body>

        <p class="h1 m-3">Welcome to Smaartrader</p>

        <div class="row m-2">
            <!-- Repeates for every stock -->
            {% if stocks %}
                {% for stock in stocks %}
                    <div class="col-md-4 p-3 col-sm-12">
                        <div class = "p-3 zoomGraph" style="border: 1px solid black;">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <span>{{stock}}</span> <span id="{{stock}}DiffArrow"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}Price"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}Diff"></span>
                                </div>
                                <div class="col-2">
                                    <span id="{{stock}}percent"></span>
                                </div>
                                <div class="col-sm-3 d-md-none d-xs-none d-sm-block">
                                    <!-- Filler Div -->
                                </div>
                                <div class="col-3">
                                    <div class="btn-group" data="{{stock}}">
                                        <div class="btn btn-primary" onclick="{{stock}}selectTime(this)">Y</div>
                                        <div class="btn btn-secondary" onclick="{{stock}}selectTime(this)">M</div>
                                        <div class="btn btn-secondary" onclick="{{stock}}selectTime(this)">W</div>
                                    </div>
                                </div>
                                <script>
                                    var {{stock}}BorderColor = "";
                                    var {{stock}}BackColor = "";
                                    var {{stock}}Chart;
                                    var {{stock}}ctx;
                                    
                                    //make an HTTP post request to the server, asking for the candle and quote data
                                    $.post("/", {"type":"quote+candle", "name":"{{stock}}", "time": "Y"}, function(stockData, succsses){
                                        let stockPrice = stockData["current_price"]
                                        document.getElementById("{{stock}}Price").innerHTML = stockPrice + "$"

                                        let stockpercent = stockData["difference_percentage"]
                                        document.getElementById("{{stock}}percent").innerHTML = stockpercent + "%"

                                        let stockDiff = stockData["difference"]
                                        //▲, ▼
                                        if (parseFloat(stockDiff) > 0){
                                            document.getElementById("{{stock}}DiffArrow").innerHTML = "▲"
                                            document.getElementById("{{stock}}DiffArrow").style = "color: green"
                                        } else {
                                            document.getElementById("{{stock}}DiffArrow").innerHTML = "▼"
                                            document.getElementById("{{stock}}DiffArrow").style = "color: red"
                                        }
                                        document.getElementById("{{stock}}Diff").innerHTML = stockDiff

                                        //Change the graph colors based on the diff from the quote 
                                        if (parseFloat(stockDiff) > 0){
                                            {{stock}}BorderColor = 'rgba(21, 255, 132, 1)';
                                            {{stock}}BackColor = 'rgba(21, 255, 132, 0.2)';
                                        } else {
                                            {{stock}}BorderColor = 'rgba(255, 99, 132, 1)';
                                            {{stock}}BackColor = 'rgba(255, 99, 132, 0.2)';
                                        }
                                        
                                        //Init the stock chart 
                                        {{stock}}ctx = document.getElementById('{{stock}}-chart').getContext('2d');
                                        {{stock}}Chart = startChart({{stock}}ctx, stockData["prices"], stockData["dates"], {{stock}}BackColor, {{stock}}BorderColor);
                                        
                                    })

                                    //A function that passes the jinja information to a normal javascript function
                                    function {{stock}}selectTime(btn){
                                        selectTime(btn, {{stock}}Chart, {{stock}}ctx, {{stock}}BackColor, {{stock}}BorderColor);
                                    }
                                </script>
                            </div>
                            <canvas id="{{stock}}-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <script>
                function selectTime(btn, Chart, ctx, BackColor, BorderColor){
                    //get all the buttons in that button group
                    otherBtns = btn.parentElement.childNodes
                    for (var i = 0; i < otherBtns.length; i++){
                        //make sure that they are buttons
                        if (otherBtns[i].nodeName == "DIV"){
                            //unselect them all
                            otherBtns[i].classList.remove("btn-primary", "btn-secondary");
                            otherBtns[i].classList.add("btn-secondary")
                        }
                    }

                    //select the clicked button
                    btn.classList.remove("btn-secondary");
                    btn.classList.add("btn-primary");

                    //get the new info and update the chart with it
                    $.post("/", {"type":"candle", "name":btn.parentElement.getAttribute("data"), "time": btn.innerHTML}, function(stockData, succsses){
                        updateChart(Chart, stockData["prices"], stockData["dates"]);
                    });
                }

                function startChart(ctx, yAxisData, xAxisData, BackColor, BorderColor){
                    return new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: xAxisData,
                            datasets: [{
                                label: 'Price',
                                data: yAxisData,
                                backgroundColor: [
                                    BackColor
                                ],
                                borderColor: [
                                    BorderColor
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            //this makes the gridlines not display
                            scales: {
                                xAxes: [{
                                    gridLines: {
                                        color: "rgba(0, 0, 0, 0)",
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }],
                                yAxes: [{
                                    gridLines: {
                                        color: "rgba(0, 0, 0, 0)",
                                    }
                                }]
                            }
                        }
                    });
                }
                
                function updateChart(chart, yAxisData, xAxisData){
                    Chart.defaults.global.animation.duration = 0;
                    chart.data.labels = xAxisData
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data = yAxisData
                    });
                    chart.update();
                }
            </script>
        </div>
    </body>
</html>